#navbar{
    top:0px;
    left:0px;
    position: fixed;
    height:100%;
    min-width:300px;
    width:300px;
    color: black;
    padding: 75px 0px;
    background-color:silver;
  }
  li{
    padding-left:300px
  }
  h1{
    padding-top:20px;
    margin-left:290px;
    padding-left:50px;
    padding-bottom: 20px;
    font-family:Sans-serif;
    background-color:lightgrey;
  }
  p{
    margin-left:300px;
    font-family:sans-serif;
    font-size: 20px;
  }
  li{
    font-family:sans-serif;
    font-size:20px;
  }
  @media (max-width:800px)
  {
    navbar{
      position: absolute;
      max-height:300px;
      max-width: 300px;
      width: 300px;
    }
  }
  
  #navbar a{
    color:black;
    font-size:25px;
    margin-left:30px;
    text-align:center;
    font-family: sans-serif;
     
  }
  
  h2{
    margin-left: 12px;
    font-family: sans-serif;
  }
  img{
    width: 500px;
    height:300px;
    margin-left: 300px;
  }
  
  code{
    background-color: gray;
    color:white;
  }
 